@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151312;
    --foreground: #ededed;
    --font-family-Font-1: "Poppins";
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html,
body {
  @apply font-sans;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow: auto;
}

#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
