@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #151312;
    --foreground: #ededed;
    --font-family-Font-1: "Poppins";
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html,
body {
  @apply font-sans;
}
